# Python Basics Assignment

- Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.

ùê¥ = ùëù (1 + ùëü/ 100)n

a. 100

b. 162.89

c. 189

d. None of the above

In [2]:
n = 10
r = 5
p = 100

#Evaluating expression
A = p*(1+r/100)**n

print(A)

162.8894626777442

 Answer : b. 162.89

- Q2. In a given string format operation, how will you print the given string.

A = 10  
B = 20

Str = "There are {} students in the class, with {} who play at least one sport."

a. print(string.format(a,b))

b. print(string+a+b)

c. print(string.format(b,a))

d. None of the above

In [13]:
A = 10
B = 20

Str = "There are {} students in the class, with {} who play at least one sport."

#correct syntax for result
print(Str.format(A,B))

There are 10 students in the class, with 20 who play at least one sport.

Answer : d. None of the above

- Q3. In a given sample string, How do you print a double quoted string in between a
regular string using the escape character?

Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)

b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)

c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)

d. None of the above.

In [8]:
print("It goes without saying,\"Time is Money\", and none can deny it.")

It goes without saying,"Time is Money", and none can deny it.

Answer : a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)

- Q4. What will be the output of the following code?

x = lambda a,b: a//b\
x(10,3)

a. 3.3333333333

b. 3

c. 30

d. 1000

In [12]:
#lambda function
x = lambda a,b: a//b

x(10,3)

3

Answer : b. 3

- Q5. What will be the output of the following code?

A = 10\
B = 12

print("Smaller") if A == B else print("Greater") if A < B else print("True")

a. True

b. Smaller

c. Greater

d. None of the above

In [14]:
A = 10
B = 12

print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

Answer : c. Greater

- Q6. What will be the output of the following code?

import os\
import numpy as np\
my_list1 = [2,7,3,5,4,6]\
print(my_list1)\
arr_1 = numpy.array(my_list1, dtype = int)\
print(arr_1)

a. [2 7 3 5 4 6]

b. TypeError

c. NameError: name 'numpy' is not defined

d. None of the above

In [16]:
import os

import numpy as np

my_list1 = [2,7,3,5,4,6]

print(my_list1)

arr_1 = numpy.array(my_list1, dtype = int)

print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

Answer : c. NameError: name 'numpy' is not defined

- Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

a. string[slice(13,8,1)]

b. string[slice(1,8,1)]

c. string[8:14]

d. string[slice(8,13,1)]

In [23]:
string = "Machine Learning"

substring = string[slice(8,13,1)]

print(substring)

Learn

Answer : d. string[slice(8,13,1)]

- Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the value 18?

a. 3

b. 2

c. 0

d. 1

In [25]:
# sequence of numbers from 10 to 25 & increment by 4
seq = list(range(10,26,4))

# index of the value 18
index_of_18 = seq.index(18)

print(seq)
print(index_of_18)

[10, 14, 18, 22]
2

Answer : b. 2

- Q9. Which of the following is true with respect to the below codes?

num1 = 5** 4\
num2 = pow(5,4)

print(num1, num2)

a. num1 = num2

b. num1 ‚â† num2

c. num1 < num2

d. num1 > num2

In [26]:
num1 = 5**4

num2 = pow(5,4)

print(num1, num2)

625 625

Answer : a. num1 = num2

- Q10.A Python NameError exception is raised when: -

a. Trying to access a variable which has not been defined

b. Trying to access a key in a dictionary that does not exist

c. Accessing a column with misspelled column name

d. Accessing the function from a module that has not been imported

Answer : a. Trying to access a variable which has not been defined

- Q11.What type of exception will be raised for the code given below?

x = "string"\
int(x)

a. NameError

b. KeyError

c. ValueError

d. AttributeError

In [29]:
x = "string"

int(x)

ValueError: invalid literal for int() with base 10: 'string'

Answer : c. ValueError

- Q12.A FileNotFoundError exception is raised by operating system errors when: -
    
a. Trying to create a file or directory which already exists

b. A file or directory is requested but does not exist in the working directory

c. Trying to run an operation without the adequate access rights

d. A directory operation, os.listdir() is requested on something which is not a
directory

Answer : b. A file or directory is requested but does not exist in the working directory

- Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -

a. Complex

b. Character

c. Integer

d. Boolean

In [32]:
Z = "ID-5632"

print(type(Z))

<class 'str'>

Answer : b. Character (string character)

- Q14.Which of the following variable(s) are character data type?

a. K= ‚Äú4‚Äù

b. J= ‚ÄúWelcome‚Äù

c. L= ‚Äú?‚Äù

d. All of the above

In [34]:
K= "4"
print(type(K))

J= "Welcome"
print(type(J))

L= "?"
print(type(L))

<class 'str'>
<class 'str'>
<class 'str'>

Answer : d. All of the above

- Q15.Choose the symbol/s that does not have the ability to convert any values to string?

a. ( )

b. ‚Äú ‚Äù

c. {}

d. #

Answer : d. #

- Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:

Country India China Japan Qatar France\
State Delhi Beijing Tokyo Doha Marseilles

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [36]:
# 1st Method : using direct assignment

Country = {
    'India' : 'Delhi',
    'China' : 'Beijing',
    'Japan' : 'Tokyo',
    'Qatar' : 'Doha',
    'France' : 'Marseilles'
}

#  commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is
Country['France'] = 'Paris'

print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [37]:
# 2nd method : using update method

Country = {
    'India' : 'Delhi',
    'China' : 'Beijing',
    'Japan' : 'Tokyo',
    'Qatar' : 'Doha',
    'France' : 'Marseilles'
}

#  commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is
Country.update({'France' : 'Paris'})

print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

Answer: 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:\
        1. Country['France'] = 'Paris'\
        2. Country.update({'France' : 'Paris'})

- Q17. Create the tuples given below

tuple_1 = (1,5,6,7,8)\
tuple_2 = (8,9,4)

Identify which of the following code does not work on a tuple.

a. sum(tuple_1)

b. len(tuple_2)

c. tuple_2 + tuple_1

d. tuple_1[3] = 45

In [38]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [44]:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

Answer : d. tuple_1[3] = 45 (Slicing does not works in tuple)

- Q18. How many elements in the following data structure?

s = {1,2,3,4,4,4,5,6}

In [46]:
s = {1, 2, 3, 4, 4, 4, 5, 6}

# Get the number of elements in the set
num_elements = len(s)

print(f" Answer : The number of elements in the set is: {num_elements}")

 Answer : The number of elements in the set is: 6

- Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N

In [51]:
def pythagorean_triplets(N):
    triplets = []
    for a in range(1, N+1):
        for b in range(a, N+1):
            c_square = a**2 + b**2
            c = int(c_square ** 0.5)
            if c <= N and c_square == c**2:
                triplets.append((a,b,c))
    return triplets

# Example usage :
N = 10
triplets = pythagorean_triplets(N)
print (triplets)

[(3, 4, 5), (6, 8, 10)]